<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                  Taller de Aplicaciones de Internet
                </div>
                <div class="card-body">
                  <h4 class="card-title text-primary">Proyecto Angular </h4>
                  <br>
                  <h5 class="text-info"> Participantes:</h5>
                  <p class="card-text">Juan Richard Poma gutierrez</p>
                  <p class="card-text">Marcos Flores Alcocer</p>
                                 </div>
              </div>
        </div>
    </div>
</div>
