<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                 <h2>Taller de Aplicaciones de Internet</h2> 
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 text-center"> 
                      <h3 class="card-title text-dark">Proyecto Angular </h3></div>
                  </div>
                 
                  <br>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <img src="../../../assets/img/uab.jpg"  ></div>
                  </div>
                  
                  <h5 class="text-primary"> Participantes:</h5>
                  <p class="card-text">Juan Richard Poma Gutierrez</p>
                  <p class="card-text">Marcos Flores Alcocer</p>
                                 </div>
              </div>
        </div>
    </div>
</div>
