<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                  Tecnologias de Internet
                </div>
                <div class="card-body">
                  <h4 class="card-title">Proyecto Angular</h4>
                  <br>
                  <h5> Participantes:</h5>
                  <p class="card-text">Juan richard Poma gutierrez</p>
                  <p class="card-text">Marco Flores Alcocer</p>
                                 </div>
              </div>
        </div>
    </div>
</div>
